aiohttp==0.22.2
APScheduler==3.2.0
chardet==2.3.0
multidict==1.2.1
pep8==1.7.0
pytz==2016.6.1
redis==2.10.5
requests==2.10.0
six==1.10.0
tzlocal==1.2.2
-e git://github.com/keyphact/pgoapi.git#egg=pgoapi
