html, body {
    height: 80%;
    margin: 0;
    padding: 0;
}

#map {
    height: 120%;
}

h1 {
    height: 5%;
    text-align: center;
}

#all-expired {
    height: 5%;
    color: red;
    text-align: center;
    margin-bottom: 20px;
}
